* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 60px;
  background: url(../img/snow.jpg);
}
p{
font-family: 'Fondamento', cursive;
text-align: justify;
}
h1
{
  font-family: 'Lobster', cursive;
}
a{
  font-family: 'Pacifico', cursive;
    text-decoration: none;
}
h3
{
  font-family: 'Dancing Script', cursive;
}
.ui.first.container,
.ui.second.container,
.ui.third.container,
.ui.fourth.container {
  position: relative;
  top: 100px;
}

@media (max-width: 767px) {
  .ui.inverted.navbar {}
}

.ui.vertical.menu {
  margin-top: -15px !important;
  width: 100%;
  display: none;
}

.ui.vertical.navbar {
  display: block;
  margin-top: 30px !important;
}

.ui.cards >.card  {
  width: 210px;
}
.ui.cards > .card > .content > .header:not(.ui) {
  font-size: 1.1em;
  font-weight: normal;
}

.ui.cards > .card .meta,
.ui.card .meta {
  font-size: 0.8em;
}


}

.extra.content {
  margin-top: 5px;
}
.ui.modal {
  width: 75%;
}
#album {
  margin-top: 10px;
}
footer {
  width: 100%;
  background: url(../img/ww.jpg);
  color: white;
  position: relative;
  top: 100px;
  text-align: center;
  margin-bottom: 0;
}
.ui.first.grid {
  margin-top: 0px;
  position: relative;
  top: 100px;
}

.meta{
  padding-top: 5px;
}
